html {
  background: url(../images/blacktop.jpg) no-repeat no-repeat top center;
}

img {
  position: relative;
  z-index: 11;
  cursor: pointer;
}

#tennis-bal {
  display: inline;
}

.wrapper {
  position: relative;
  width: 960px;
  height: 100vh;
  margin: 0 auto;
}

#hoop, #net{
  margin-left: 80px;
  width: 688px;
  height: 514px;
}


#hoop { 
  position: relative;
  background: url(../images/hoop.png) no-repeat;
  z-index: 1;
  top: 25px;
  left: 50px;
}

#net {
  pointer-events: none;
  position: absolute;
  background: url(../images/net.png) no-repeat;
  z-index: 10;
  top: 205px;
  left: 200px;
}
